

<h2 style="text-align: center;color: #f82c5b;">define your Burger</h2>
        <form >
          <div *ngFor="let burger of burgers">
            <div [ngClass]="{'konfig': true, 'active': isBunsActive}">
              <div class="titel" (click)="toggleBunAccordion()"><span>Wähle Bun</span> <span class="sp-plus">+</span> <span class="sp-minus">_</span></div>
              <div class="content" *ngFor="let bun of burger.buns; let i = index">
                <label class="custom-checkbox">
                  <input
                    type="checkbox"
                    name="set1"
                    [checked]="bun.selected"
                   (change)="onBunSelect(bun)"
                  
                  />
                <span class="checkmark"></span>
                {{ bun.name }}
                <span *ngIf="bun.preis != 0.0"
                  >(+{{ bun.preis  }} Euro)</span
                >
  
                </label>
              </div>
            </div>
    
            <div [ngClass]="{'konfig': true, 'active': isToppingsActive}">
              <div class="titel" (click)="toggleToppingAccordion()"><span>Wähle Toppings</span> <span class="sp-plus">+</span> <span class="sp-minus">_</span></div>
              <div class="content" *ngFor="let topping of burger.toppings">
                <label class="custom-checkbox">
                  <input type="checkbox"
                [checked]="toppingSelected(topping)"
                (change)="toggleTopping($event, topping)"
                />
                <span class="checkmark"></span>
                {{ topping.name }}
                <span *ngIf="topping.preis != 0.0"
                  >(+{{ topping.preis  }} Euro)</span
                >
                </label>
                <div class="change-quantity" *ngIf="toppingSelected(topping) && topping.preis != 0.0">
                  <button class="quantity-button" (click)="increasItemQuantity(topping)">+</button>
                  <p >{{topping.qty}}</p>
                  <button  (click)="decreasItemQuantity(topping)">-</button>
  
                </div>
                
              </div>
            </div>
    
            <div [ngClass]="{'konfig': true, 'active': isDressingActive}">
              <div class="titel" (click)="toggleDressingAccordion()"><span>Wähle Dressings</span> <span class="sp-plus">+</span> <span class="sp-minus">_</span></div>
              <div class="content" *ngFor="let dressing of burger.dressings">
                <label class="custom-checkbox">
                  <input type="checkbox"
                [checked]="dressingSelected(dressing)"
                (change)="toggleDressing($event, dressing)"
                />
                <span class="checkmark"></span>
                {{ dressing.name }}
                <span *ngIf="dressing.preis != 0.0"
                  >(+{{ dressing.preis  }} Euro)</span
                >
                </label>
                
              </div>
            </div>
            
          </div>

          <div>
            <p *ngIf="totalPrice == 0">Gesamtpreis: {{ basePrice | currency: 'EUR' }}</p>
            <p *ngIf="totalPrice > 0">Gesamtpreis: {{ totalPrice | currency: 'EUR' }}</p>
            
         </div>
        </form>